# IDE
.vscode/
.kiro/settings

# Virtual environment
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info
build/

# Database
*.db

# Logs
logs/

# Generated maps
maps/

# Downloaded NOTAMs
notams/

# Bot state
telegram_chats.json

# Archive
*.zip

# Tests
.hypothesis/
_*.py
_*.html
_*.txt